@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/design-token-imports.less";
@import (reference) "/apps/plweb-dsys/clientlibs/clientlib-site/css/less-imports.less";

.dsys-button {
    .element(main, {
        .modifier(filled-teal, {
            background-color: teal;
            color: @white;
            &:hover {
				color: @white;
            }
        });

        .modifier(filled-light-blue, {
            &:hover {
				background-color: @blue300;
    			color: @blue900;
            }
        });
    });
}