@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/design-token-imports.less';
@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/less-imports.less';

.section-container {
	.element(main, {
        &.section-container {
            @media @mediaXS {
                .modifier(mobile-background-calm-water-blue, {
                    background:#EEFAFB;
                });
            }
            @media @mediaSMTillLG {
                .modifier(tablet-background-calm-water-blue, {
                    background:#EEFAFB;
                });
            }
            @media @mediaLG {
                .modifier(desktop-background-calm-water-blue, {
                    background:#EEFAFB;
                });
            }
        }
        @media @mediaLG { 
          .width-container {
            max-width: 1216px;
          }
        }  
    });
}
a,
.dsys-link {
	color: teal;
	&:hover {
		color: teal;
	}
	&::after {
		background-color: teal;
	}
}
.dsys-link {
	&:hover {
		color: teal !important;
	}
}
li.cmp-breadcrumb__item:last-child::after {
	content: '';
}
.cmp-breadcrumb__item--active {
	font-weight: bold;
}
.cmp-breadcrumb__list {
	padding-left: 0;
}
li.cmp-breadcrumb__item::after {
	content: '/';
}
