//*---=== Media queries ===---*/ 
@mediaXS: ~'screen and (max-width: 599px) and (min-width: 1px)';
@mediaSM: ~'screen and (min-width: 600px)';
@mediaMD: ~'screen and (min-width: 840px)';
@mediaLG: ~'screen and (min-width: 1200px)';
@mediaXL: ~'screen and (min-width: 1440px)';
@mediaSMTillLG: ~'screen and (min-width: 600px) and (max-width: 1199px)';
@mediaSMOnly: ~'screen and (min-width: 600px) and (max-width: 839px)';
@mediaMDOnly: ~'screen and (min-width: 840px) and (max-width: 1199px)';
@mediaMobile: ~'screen and (max-width:599px)';
@mediaSmallTablet: ~'screen and (max-width:600px)';
@mediaTablet: ~'screen and (max-width:839px)';
@mediaTillDesktop: ~'screen and (max-width:1200px)';