@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/design-token-imports.less';

//*---=== TEXT ALIGNMENT ===---*/
.ta-left {
	text-align: left;
}
.ta-right {
	text-align: right;
}
.ta-center {
	text-align: center;
}

//*---=== TEXT TRANSFORMS ===---*/
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}

//*---=== FONT FAMILY ===---*/
.title-font {
	font-family: @montserrat;
}
.sub-title-font {
	font-family: @merriweather;
}
.body-font {
	font-family: @openSans;
}

//*---=== FONT WEIGHTS ===---*/
.fw-100 {
	font-weight: @fw100;
}
.fw-200 {
	font-weight: @fw200;
}
.fw-300 {
	font-weight: @fw300;
}
.fw-400 {
	font-weight: @fw400;
}
.fw-500 {
	font-weight: @fw500;
}
.fw-600 {
	font-weight: @fw600;
}
.fw-700 {
	font-weight: @fw700;
}
.fw-800 {
	font-weight: @fw800;
}
.fw-900 {
	font-weight: @fw900;
}

//*---=== DISPLAY FLEX ===---*/

.display-flex {
	display: flex;
}
.jc-center {
	justify-content: center;
}
.jc-right {
	justify-content: flex-end;
}
.jc-left {
	justify-content: flex-start;
}
.ai-center {
	align-items: center;
}

//*---=== DISPLAY NONE ===---*/

.display-none {
	display: none;
}

//*---=== DISPLAY BLOCK ===---*/

.display-block {
	display: block;
}

/*---===<<< BEM >>>===---*/
/* ---------------------------------------------------------------------------
	Toolkit: Rem
	============
	.element() & .modifier() takes a @element and @content and formats it to
	BEM standards.
	
	e.g.,
	Example:
	.block {
    	.element(item, {
	      	width: 100px;
	    });
      
		.element(~'item:hover', {
	      	color: white;
	    });
	      
	    .modifier(red, {
	      	color: red;
	    });
	}
	 
	Result: 
	.block {
		.block__item {
			width: 100px;
		}
	
		.block__item:hover {
			color: white;
		}
	 	
		.block--red {
			color: red;
		}
	}
--------------------------------------------------------------------------- */

.element(@element; @content) {
	&__@{element} {
		@content();
	}
}

.modifier(@modifier; @content) {
	&--@{modifier} {
		@content();
	}
}
