@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/design-token-imports.less';
@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/less-imports.less';

.text-with-bg-img__txt-container {
	background-color: white;
	padding: 32px;

	h2 {
		color: #053661;
	}
}
