@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/design-token-imports.less';
@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/less-imports.less';

.accordion {
    .modifier(section-expand, {
        .cmp-accordion {
                .element(title, {
                        color: #108188;
                    }
                );
                .arrow{
                    color: #108188 !important;
                }
            .element(item, {
                 &:hover {
                    border-bottom: @hairline solid #085055;
                    .arrow {
                        color: #085055 !important;
                    }
                    .cmp-accordion__title {
                        color: #085055;
                    }
                }

            }
            );
        }
    });
}