@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/design-token-imports.less';
@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/less-imports.less';

.secondary-nav__link-wrapper {
    .navigation-link {
       &::after {
		background-color: teal;
       }
    }

    &:hover {
    	.navigation-link {
			color: teal !important;

       		&::after {
				background-color: teal;
       		}
    	}
	}
}