@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/design-token-imports.less';
@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/less-imports.less';

.team-gallery {
    .element(avatar,{
        border-radius: 4px;
    });
}