@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/design-token-imports.less';
@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/less-imports.less';

.video-list__title-styling {
	color: teal;
}

.swiper-button-next, .swiper-button-prev { 
border: 1px solid teal;
}