@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/design-token-imports.less';
@import (reference) '/apps/paclife-ria-dsys/clientlibs/clientlib-site/css/less-imports.less';

.card__link {
	color: teal;
}
.card .link-wrapper--pdf .pdf-wrapper {
	color: teal;
}