<!--/*
    Copyright 2019 Adobe

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
	<!-- /* Authoring specific ClientLibs */ -->
	<sly data-sly-test="${wcmmode.edit || wcmmode.design}" data-sly-call="${clientLib.all @ categories='plweb-dsys.global-author'}"></sly>

	<!-- Includes the global clientlibs like jquery, icon libraries etc. -->
	<sly data-sly-call="${clientLib.all @ categories='plweb-dsys.global-dependencies'}" />
	<sly data-sly-call="${clientLib.all @ categories='paclife-ria-dsys.global-dependencies'}" />

	<!-- Includes the base clientlibs -->
	<sly data-sly-call="${clientlib.css @ categories='plweb-dsys.base'}"></sly>
	<sly data-sly-call="${clientlib.css @ categories='paclife-ria-dsys.base'}"> </sly>
	<!--/* Include Context Hub */-->
	<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"
/></sly>
